#nav-text {
  font-size: 35px;
  color: #b9b7bd;
  font-weight: 600;
}

/* To keep menu open when using navbar toggler */
.navbar-collapse.collapse.in {
  display: block !important;
}

.nav-icon {
  color: #b9b7bd !important;
}

.nav-link {
  color: #868b8e;
}
