#nav-text {
  font-size: 35px;
  color: #EEEDE7;
}

/* To keep menu open when using navbar toggler */
.navbar-collapse.collapse.in {
  display: block !important;
}

.nav-icon {
  color: #EEEDE7 !important;
}

.nav-link {
  color: #868b8e;
}

.nav-bar {
  background-color:#B9B7BD !important;
}
