.cormorant-font {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

.underline{
    text-decoration: underline;
}

.sub-text{
    font-size: 30px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}